@charset "UTF-8";
body{
	font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
}
.sitename{
	background-color: #f0fdff;
}
.sitename{
	padding:5px 0 5px;
}
.sitename a{
	font-size: 1.1em;
	color: inherit;
}
