@charset "UTF-8";

.index-in_css{
	background-color: #acffff;
}

span[name="state_id_css2"]{
	font-size: 86%;
	font-weight: normal;
	margin-right: 2px;
}

span[name="state_id_css3"]{
	font-size: 86%;
	font-weight: normal;
	margin-right: 2px;
}

#checkbox_set1{
	float: right;
}

.onoff{
	float: right;
}