@charset "UTF-8";

#mente_css{
	background-color: #fdebf8;
}

.sitename{
	margin:5px 0 5px;
}
.sitename a{
	font-size: 1.1em;
	color: inherit;
}

.navbar .nav li a {
	font-weight: bold;
	text-align: center;
	border-left: 1px solid rgba(255, 255, 255, .75);
	border-right: 1px solid rgba(0, 0, 0, .1);
}	

/*動かない*/
.table-data{
	padding-left: 10px;
}