@charset "UTF-8";
body{
	font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
}
#index-out_css{
	background-color: #fdebf8;
}

.sitename{
	margin:5px 0 5px;
}
.sitename a{
	font-size: 1.1em;
	color: inherit;
}

.navbar .nav li a {
	font-weight: bold;
	text-align: center;
	border-left: 1px solid rgba(255, 255, 255, .75);
	border-right: 1px solid rgba(0, 0, 0, .1);
}	

span[name="state_id_css4"]{
	font-size: 86%;
	font-weight: normal;
	margin-right: 2px;
}

span[name="state_id_css5"]{
	font-size: 86%;
	font-weight: normal;
	margin-right: 2px;
}

span[name="state_id_css6"]{
	font-size: 86%;
	font-weight: normal;
	margin-right: 2px;
}

#checkbox_set1{
	float: right;
}

.onoff{
	float: right;
}