@charset "UTF-8";

.item-info_css{
	background-color: #acffff;
}

#item_data_id{
	width: 97%;
}

#item_data_code{
	width: 97%;
}

#item_data_kind{
	width: 97%;
}

#item_data_maker{
	width: 97%;
}

#item_data_detail{
	width: 97%;
}

#item_data_price{
	width: 97%;
}

#item_data_leadtime{
	width: 97%;
}

#item_data_lack{
	width: 97%;
}

#update_item, #delete_item, #delete_item_not{
	float: right;
	margin-right: 3px;
}