@charset "UTF-8";

.index-out_css{
	background-color: #acffff;
}

#order-form_date{
	width: 97%;
}

#order-form_shop{
	width: 97%;
}

#order-form_number{
	width: 97%;
}

#order-form_deadline{
	width: 97%;
}

#update_data{
	float: right;
}

#too_much{
	color: red;
	font-size: 12px;
	margin-left: 7%;
}