@charset "UTF-8";

.index_css{
	background-color: #acffff;
}

#zaiko_state_table th, td{
	text-align: center;
}

#nyuuko_box{
	float: left;
	width: 49%;
}

#shukko_box{
	float: right;
	width: 49%;
}

#order_box{
	float: left;
	width: 49%;
}

#order_in_box{
	float: right;
	width: 49%;
}

#nyuuko_total{
	padding: 10px;
	text-align: center;
}

#shukko_total{
	padding: 10px;
	text-align: center;
}

#nyuuko_table th, td{
	text-align: center;
}

#shukko_table th, td{
	text-align: center;
}