@charset "UTF-8";

.index-out_css{
	background-color: #acffff;
}

#order-form_date{
	width: 97%;
}

#order-form_shop{
	width: 97%;
}

#order-form_number{
	width: 97%;
}

#order-form_deadline{
	width: 97%;
}

#order-form_update{
	float: right;
	margin-right: 3%;
	width: 15%;
}