@charset "UTF-8";
body{
	font-family: "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", "Meiryo", sans-serif;
}
.stock-check_css{
	background-color: #fdebf8;
}

.sitename{
	margin:5px 0 5px;
}
.sitename a{
	font-size: 1.1em;
	color: inherit;
}

.navbar .nav li a {
	font-weight: bold;
	text-align: center;
	border-left: 1px solid rgba(255, 255, 255, .75);
	border-right: 1px solid rgba(0, 0, 0, .1);
}

#analysis{
	clear: both;
}

#just_stock_data{
	padding: 10px;
	text-align: center;
}

#current_stock_data{
	padding: 10px;
	text-align: center;
}

#analysis_table{
	width: 100%;
}

#analysis_table th, td{
	padding: 5px;
}

#zaiko_info_table th, td{
	text-align: center;
}